@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: 'Hanken Grotesk', sans-serif;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* White parent containter */

.container {
  width: 650px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(234, 239, 253, 0.75);
  -moz-box-shadow: 0px 0px 50px 0px rgba(234, 239, 253, 0.75);
  box-shadow: 0px 0px 50px 0px rgba(234, 239, 253, 0.75);
}

/* Left side blue container */

.score-container {
  background-image: linear-gradient(to top, #322bea, #6743ff);
  width: 50%;
  color: #f0f0f0;
  padding: 35px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.score-container h2 {
  color: #b8b4ff;
  font-size: 20px;
  font-weight: 500;
}

.score-number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #4734f0, #4d23ca);
  padding: 40px;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 30px auto;
}

#score-main {
  color: #fff;
  font-size: 65px;
  font-weight: 600;
}

#score-sub {
  font-size: 15px;
  padding: 0;
}

.score-container h3 {
  font-size: 28px;
  font-weight: 400;
}

.score-container p {
  color: #b8b4ff;
  text-align: center;
  font-size: 15px;
  padding: 15px 18px;
}

/* Right side stats container */

.summary-container {
  padding: 35px;
  width: 50%;
  box-sizing: border-box;
}

.summary-container h2 {
  font-size: 19px;
}

.summary-container ul {
  list-style: none;
  width: 100%;
  padding: 10px 0;
}

.summary-container li {
  padding: 15px;
  margin: 12px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-container li p {
  color: #a79fa3;
  font-size: 14px;
}

.summary-container li p span {
  font-weight: 600;
  color: #000;
}

.summary-container div {
  display: flex;
}

.summary-container div h4 {
  padding: 0 10px;
  font-size: 15px;
}

.button {
  background-color: #303b59;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  border-radius: 30px;
  margin: 10px auto;
  font-size: 13px;
  font-weight: 500;
  border: none;
  transition: 0.5s;
}

.button:hover {
  background-color: #4734f0;
  transition: 0.5s all;
  cursor: pointer;
}

#closing-message {
  color: lightgray;
  text-align: center;
  font-size: 12px;
}
